@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Dragonwick';
    src: url('../fonts/Dragonwick.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
  scroll-behavior: smooth;
}